@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scroll-snap-type: y mandatory;
  /* Snap vertically, and snapping is required */
  line-height: 1.5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: 'hidden';
}

.slider-inside-arrows {
  position: relative;
}

.slider-inside-arrows .slick-arrow {
  position: absolute;
  z-index: 2;
}

.slider-inside-arrows .slick-prev {
  left: 16px;
}

.slider-inside-arrows .slick-next {
  right: 16px;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

.slick-slider .slick-list {
  width: 100% !important;
  padding: 0 !important;
}


.slick-slide {
  filter: saturate(0.2);
  /* blur(2px); */
}

.slick-current {
  transition: filter 0.3s ease-in;
  filter: saturate(1.2);
}

.slick-dots .slick-active .custom-dot {
  background-color: #52bbe8 !important;
  opacity: 1;
}

.slick-track {
  height: inherit !important;
}

.slick-active {
  position: relative;
  z-index: 1;
}

li.slick-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.slick-dots li {
  margin: 0px !important;
  height: 10px !important;
  width: 10px !important;
}